<div style="position:absolute;top:2px;left:400px;width: 205px;">
    <span class="mr-2">Legend</span>
    <label class="switch switch-round m-0">
        <input type="checkbox" id="switch_legend_production" checked>
        <span></span>
    </label>
    <span class="ml-2">Production</span>
</div>
<div id="container_general_colors_hint" style="position:absolute;top:30px;left:400px;width: 1020px;z-index: 100;background-color: #FFFFFF;border: 2px solid #2780E3;border-radius: 10px;padding: 10px;">
    <%- include('../general_colors.svg') %>
    <%- include('../general_production') %>
</div>
<div class="position-absolute" style="left: 50px;top:90px;z-index: 1">
    <button class="button-device-command button-3d button-round button-round-start d-block mb-4" style="font-size: 26px;" data-device-id="80" data-command="0" data-parameter1="0">Start</button>
    <button class="button-device-command button-3d button-round button-round-stop d-block mb-4" style="background-color: red;font-size: 26px;" data-device-id="81" data-command="0" data-parameter1="0">Stop</button>
    <button class="button-device-command button-3d button-round button-round-reset d-block mb-4" style="background-color: #ccc;font-size: 26px;" data-device-id="82" data-command="0" data-parameter1="0">Reset</button>
</div>
<div class="position-absolute" style="right: 25px;top:0;z-index: 1">
    <button class="door door-open button-3d button-rectangle" style="width: 40px;height: 36px;display: none;background-color: red;" data-device-id="91" data-command="1" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-door-open"></i></button>
    <button class="door door-lock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;background-color: red;" data-device-id="91" data-command="1" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-unlock-fill"></i></button>
    <button class="door door-unlock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;background-color: #27e22b;" data-device-id="91" data-command="0" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-lock-fill"></i></button>
</div>
<div class="position-absolute" style="right: 25px;top:220px;z-index: 1">
    <button class="door door-open button-3d button-rectangle" style="width: 40px;height: 36px;display: none;background-color: red;" data-device-id="92" data-command="1" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-door-open"></i></button>
    <button class="door door-lock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;background-color: red;" data-device-id="92" data-command="1" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-unlock-fill"></i></button>
    <button class="door door-unlock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;background-color: #27e22b;" data-device-id="92" data-command="0" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-lock-fill"></i></button>
</div>
<div class="position-absolute" style="right: 100px;top:530px;z-index: 1">
    <button class="door door-open button-3d button-rectangle" style="width: 40px;height: 36px;display: none;background-color: red;" data-device-id="93" data-command="1" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-door-open"></i></button>
    <button class="door door-lock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;background-color: red;" data-device-id="93" data-command="1" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-unlock-fill"></i></button>
    <button class="door door-unlock button-device-command button-3d button-rectangle" style="width: 40px;height: 36px;display: none;background-color: #27e22b;" data-device-id="93" data-command="0" data-parameter1="0"><i style="font-size: 22px;" class="bi bi-lock-fill"></i></button>
</div>
<div class="position-absolute" style="left: 700px;top:565px;z-index: 1;">
    <button id="btn-test-red-light" class="button-device-command-press-release button-3d button-rectangle" style="font-size: 14px;background-color: darkgray;" data-device-id="83" data-stopped-color="darkgray" data-started-color="red" data-command-start="0" data-command-end="1" data-parameter1="0" data-started="0">Test Red Light</button>
</div>
<div class="position-absolute" style="left: 850px;top:565px;z-index: 1;">
    <button id="btn-test-amber-light" class="button-device-command-press-release button-3d button-rectangle" style="font-size: 14px;background-color: darkgray;" data-device-id="84" data-stopped-color="darkgray" data-started-color="#ffc000" data-command-start="0" data-command-end="1" data-parameter1="0" data-started="0">Test Amber Light</button>
</div>
<div class="position-absolute" style="left: 1000px;top:565px;z-index: 1;">
    <button id="btn-test-blue-light" class="button-device-command-press-release button-3d button-rectangle" style="font-size: 14px;background-color: darkgray;" data-device-id="85" data-stopped-color="darkgray" data-started-color="blue" data-command-start="0" data-command-end="1" data-parameter1="0" data-started="0">Test Blue Light</button>
</div>
<div class="position-absolute" style="left: 1150px;top:565px;z-index: 1;">
    <button style="font-size: 14px;background-color: darkgray;" class="button-device-command button-3d button-rectangle" data-device-id="90" data-command="1" data-parameter1="0">Fault Reset All</button>
</div>