<button class="btn btn-outline-primary menu mr-1" data-title="Bins Detailed" data-file="statistics_bins_detail" data-name="statistics_bins_detail" data-members="statistics statistics_bins_detail">Bins Detailed</button>
<button class="btn btn-outline-primary menu mr-1" data-title="Hourly" data-file="statistics_hourly" data-name="statistics_hourly" data-members="statistics statistics_hourly">Hourly</button>
<button class="btn btn-outline-primary menu mr-1" data-title="Sorting Code Detail" data-file="statistics_sorting_code_detail" data-name="statistics_sorting_code_detail" data-members="statistics statistics_sorting_code_detail">Sorting Code Detail</button>
<button class="btn btn-outline-primary menu mr-1" data-title="Shift wise" data-file="statistics_shift_wise" data-name="statistics_shift_wise" data-members="statistics statistics_shift_wise">Shift wise</button>
<button class="btn btn-outline-primary menu mr-1" data-title="OEE" data-file="statistics_oee" data-name="statistics_oee" data-members="statistics statistics_oee">OEE</button>
