<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 pt-0 pb-0 pl-2 pr-2">
        <div class="alert alert-warning" id="alert_message_container" style="display: none;">
            <p class="mb-0" id="alert_message"></p>
        </div>
        <div class="card">
            <div class="card-header text-center">
                <h2>Change Password</h2>
            </div>
            <div class="card-body">

                <form action="" method="">
                    <div class="form-group row">
                        <label for="password" class="col-md-4 col-form-label text-md-right">Current Password</label>
                        <div class="col-md-6">
                            <input type="text" id="password" class="form-control" name="password" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password_new" class="col-md-4 col-form-label text-md-right">New Password</label>
                        <div class="col-md-6">
                            <input type="text" id="password_new" class="form-control" name="password_new" required>
                        </div>
                    </div>
                    <div class="col-md-6 offset-md-4">
                        <button type="button" class="btn btn-primary" id="button_change">Change</button>
                        <button type="button" class="btn btn-primary" id="button_cancel">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>
<script>
    /* global basic_info */
    /* global ipcRenderer */
    function systemPageLoaded(){
    }
    $(document).on('click','#button_cancel',function (event){
        ipcRenderer.send("sendRequestToIpcMain", "changeMenu",{'currentMenu':{'file':'settings','title':'Settings','name':'settings','members':''}});
    })
    $(document).on('click','#button_change',function (event){
        let password = jQuery("#password").val();
        let password_new = jQuery("#password_new").val();
        let error_messages = [];
        if(!basic_info['connected']){
            error_messages.push(" - <b>Server is not connected</b>");
        }
        if(password == "") {
            error_messages.push(" - <b>Please enter password</b>");
        }
        if(password_new == "") {
            error_messages.push(" - <b>Please enter New Password</b>");
        }
        if(password==password_new) {
            error_messages.push(" - <b>New Password must be different.</b>");
        }
        if(error_messages.length > 0) {
            let error_message = error_messages.join("<br>");
            $("#alert_message").html(error_message);
            $("#alert_message_container").show();
        }
        else {
            $("#alert_message_container").hide();
            ipcRenderer.send("sendRequestToServer", "changeUserPassword",{'id':basic_info['currentUser']['id'],'password':password,'password_new':password_new},[]);
        }
    })
    ipcRenderer.on("changeUserPassword", function(e, jsonObject) {
        console.log(jsonObject)
        let error_message = "<b>"+jsonObject['data']['message']+"</b>";
        $("#alert_message").html(error_message);
        $("#alert_message_container").show();
    });
</script>