<div class="row">
    <div class="col-12">
        <%- include('../components/general/'+system_general_layout_no+'/general.svg') %>
        <%- include('../components/general/'+system_general_layout_no+'/common_html.ejs') %>
    </div>
</div>
<div class="row m-0">
    <div class="col-lg-12 pt-0 pb-0 pl-2 pr-2 mt-2">
        <%- include('../components/general/active_alarm_content') %>
    </div>
</div>
<footer id="footer" class="container-fluid">
    <%- include('../components/general/general_footer') %>
</footer>
<script src="components/general/general_functions.js"></script>
<script>
    /* global basic_info */
    /* global ipcRenderer */
    function systemPageLoaded(){
        if(basic_info['connected']){
            $('[data-toggle="tooltip"]').tooltip();
            $('.photoeye .status').css('fill','#f7931e');
        }
    }
</script>