<div class="row mt-2">
    <div class="col-12">
        <div class="alert alert-warning alert-dismissible fade show text-center" id="alert_message_container" role="alert" style="display: none;">
            <p class="mb-0" id="alert_message">Invalid Speed.Range[min: <span id="speed_min"></span> max: <span id="speed_max"></span>]</p>
            <button type="button" class="close alert-close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        <div style="display: block; overflow-y: auto; height: 770px; overflow-x: auto; position: relative">
            <table class="table table-sm table-bordered table-striped" id="table_motor">
                <thead>
                <tr>
                    <th style="width: 75px;">Motor ID</th>
                    <th style="">Motor name</th>
                    <th style="">Motor location</th>
                    <th style="">IP Address</th>
                    <th style="">Speed</th>
                    <th style="">Nominal Speed</th>
                    <th style="width: 150px;">Connection Status</th>
                    <th style="width: 135px;">Fault</th>
                    <th></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


<footer id="footer" class="container-fluid">
    <%- include('../components/maint_footer') %>
</footer>
<script>
    /* global basic_info */
    /* global ipcRenderer */
    let dataTable = jQuery('#table_motor').DataTable({
        dom: 'Bfrtip',
        paging: false,
        searching: false,
        info: false,
        buttons: [],
        order: [[0, 'asc']],
        "columns": [
            {"orderable": true, className: 'text-right',order:'asc'},
            null,
            null,
            {"orderable": false},
            {"orderable": false,className: 'text-right'},
            {"orderable": false,className: 'text-right'},
            {"orderable": false},
            {"orderable": false},
            {"orderable": false}
        ],


    });
    function systemPageLoaded(){
        $('#table_motor > thead > tr > th').css({position: 'sticky', top: 0,zIndex:10});
        let motor_speed_unit = basic_info['hmiSettings']['motor_speed_unit'];
        let motors = Object.values(basic_info['motors']);
        motors.forEach(record => {
            dataTable.row.add([
                record['motor_id'],
                record['motor_name'],
                record['location'],
                record['ip_address'],
                '<span class="motor-speed" data-motor-id="'+record['motor_id']+'">-</span>',
                (motor_speed_unit=='ft_min')?(record['nominal_speed']*record['coeff']/5.08/1000).toFixed(2)+' ft/min':(record['nominal_speed']/1000*record['coeff']/1000).toFixed(2)+' m/s',
                '<span class="motor_cnx_status" data-motor-id="'+record['motor_id']+'" style="background-color: #9e9e9e; width: 12px;height: 12px; display: inline-flex"></span>',
                '<span class="motor_faulted_status" data-motor-id="'+record['motor_id']+'" style="background-color: #9e9e9e; width: 12px;height: 12px; display: inline-flex"></span>',
                ['1','2','3'].includes(basic_info['currentUser']['role'])?
                    '<div class="input-group input_motor_speed_container" style="width: 200px;display:none;">' +
                        '<input data-motor-id="'+record['motor_id']+'" type="text" class="float_positive form-control input_motor_speed">' +
                        '<div class="input-group-append">' +
                        '<button data-motor-id="'+record['motor_id']+'" class="btn btn-primary btn-sm button_motor_start">Start</button>' +
                        '<button data-motor-id="'+record['motor_id']+'" class="btn btn-danger btn-sm button_motor_stop ml-1">Stop</button>' +
                        '</div>' +
                    '</div>':''
            ]);
        })
        dataTable.draw();
        $(document).on('click','.button_motor_start',function (event){
            let motor_id = $(this).attr('data-motor-id');
            let motor=basic_info['motors'][basic_info['selectedMachineId']+'_'+motor_id];
            if(motor!=undefined){
                let speedInput=$('.input_motor_speed[data-motor-id='+motor_id+']').val();
                let speed;
                let speed_min;
                let speed_max;

                if (motor_speed_unit == 'ft_min') {
                    speed = speedInput * 5.08;
                    speed_min=motor['speed_min']/5.08;
                    speed_max=motor['speed_max']/5.08;
                } else {
                    speed = speedInput * 1000;
                    speed_min=motor['speed_min']/1000;
                    speed_max=motor['speed_max']/1000;
                }
                speed=parseInt(speed);
                if(speed<motor['speed_min'] || speed>motor['speed_max']){
                    $('#alert_message #speed_max').text(speed_max.toFixed(2))
                    $('#alert_message #speed_min').text(speed_min.toFixed(2))
                    $('#alert_message_container').show();
                }
                else{
                    $('#alert_message_container').hide();
                    let params={
                        'message_id':123,
                        'device_id':(+motor_id+100),
                        'command':1,
                        'parameter1':speed
                    };
                    ipcRenderer.send("sendRequestToServer", "forward_ape_message",params,[]);
                }
            }
        })
        $(document).on('click','.button_motor_stop',function (event){
            let motor_id = $(this).attr('data-motor-id');
            let params={
                'message_id':123,
                'device_id':(+motor_id+100),
                'command':0,
                'parameter1':0
            };
            ipcRenderer.send("sendRequestToServer", "forward_ape_message",params,[]);
        })

        if(basic_info['connected']){
            requestPageData();
            setInterval(() => {requestPageData()}, 1000);
        }
    }
    function requestPageData(){
        let requestData=[
            {'name':'machine_mode','params':{}},
            {'name':'motors_current_speed','params':{}},
            {'name':'input_states','params':{}},
            {'name':'active_alarms','params':{}},
            {'name':'device_states','params':{}}
        ];
        ipcRenderer.send("sendRequestToServer", "getMaintMotorData",{},requestData);
    }
    ipcRenderer.on("getMaintMotorData", function(e, jsonObject) {
        let machine_id=jsonObject['params']['machine_id'];
        if(jsonObject['data']['machine_mode'] == 1) {
            $('.input_motor_speed_container').show();
        }
        else{
            $('.input_motor_speed_container').hide();
        }

        let motor_speeds = jsonObject['data']['motors_current_speed']
        let motor_speed_unit = basic_info['hmiSettings']['motor_speed_unit'];
        let input_states=jsonObject['data']['input_states']
        let device_states=jsonObject['data']['device_states']
        let active_alarms={};
        jsonObject['data']['active_alarms'].forEach(alarm => {
            active_alarms[alarm['alarm_id']+'_'+alarm['alarm_type']]=1;
        })
        let inputs=basic_info['inputs']
        let motors = Object.values(basic_info['motors']);
        motors.forEach(motor => {
            if(motor_speeds[machine_id+'_'+motor['motor_id']]!=undefined){
                if (motor_speed_unit == 'ft_min') {
                    $('.motor-speed[data-motor-id='+motor["motor_id"]+']').text((motor_speeds[machine_id+'_'+motor['motor_id']]/ 5.08).toFixed(2) + ' ft/min');
                }
                else {
                    $('.motor-speed[data-motor-id='+motor["motor_id"]+']').text((motor_speeds[machine_id+'_'+motor['motor_id']]/ 1000).toFixed(2) + ' m/s');
                }

            }

            let cnx_status='#9e9e9e';
            let status='#9e9e9e';
            let faulted_status='#9e9e9e';
            if(motor['input_id']>0){
                if(inputs[machine_id+'_'+motor['input_id']] !=undefined){
                    if((input_states[machine_id+'_'+motor['input_id']]['state'])==inputs[machine_id+'_'+motor['input_id']]['active_state']){
                        status='#27e22b';
                        faulted_status='#27e22b';
                    }
                }
            }
            if(motor['alarm_id']>0){
                if(active_alarms[motor['alarm_id']+'_'+motor['alarm_type']]!=undefined){
                    status='#f00';
                    faulted_status='#f00';
                }
            }
            if(motor['device_number']>0){
                if(device_states[machine_id+'_'+motor['device_number']]!=undefined){
                    if(device_states[[machine_id+'_'+motor['device_number']]]['state']==1){
                        cnx_status='#27e22b';//connected
                    }
                    else{
                        cnx_status='#f00';
                        status='#f00';
                    }
                }
            }
            //$('.motor_status[data-motor-id='+motor["motor_id"]+']').css('background-color',status);
            $('.motor_cnx_status[data-motor-id='+motor["motor_id"]+']').css('background-color',cnx_status);
            $('.motor_faulted_status[data-motor-id='+motor["motor_id"]+']').css('background-color',faulted_status);


        })
    })

</script>