<div class="row mt-2">
    <div class="col-lg-6">
        <label for="select_input_board" class="mr-1">Choose an input board</label>
        <select id="select_input_board" class="pt-2 pb-2 pl-2 pr-2" style="border:0;background-color: #f8f9fa; font-weight: bold; font-size: 12px;">
        </select>
    </div>
    <div class="col-lg-6">
        <label for="select_output_board" class="mr-1">Choose an output board</label>
        <select id="select_output_board" class="pt-2 pb-2 pl-2 pr-2" style="border:0;background-color: #f8f9fa; font-weight: bold; font-size: 12px;">
        </select>
    </div>
</div>

<div class="row mt-2">
    <div class="col-lg-6">
        <table class="table table-sm table-bordered table-striped" id="table_inputs" style="font-size: 12px;">
            <thead>
            <tr>
                <th style="width: 10%;">Label</th>
                <th style="width: 35%;">Description</th>
                <th style="width: 30%;">Tag</th>
                <th style="width: 15%;">Terminal</th>
                <th style="width: 10%;">State</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="col-lg-6">
        <table class="table table-sm table-bordered table-striped"  id="table_outputs" style="font-size: 12px;">
            <thead>
            <tr>
                <th style="width: 10%;">Label</th>
                <th style="width: 35%;">Description</th>
                <th style="width: 20%;">Tag</th>
                <th style="width: 10%;">Terminal</th>
                <th style="width: 5%;">State</th>
                <th style="width: 15%;"></th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


<footer id="footer" class="container-fluid">
    <%- include('../components/maint_footer') %>
</footer>
<script>
    /* global basic_info */
    /* global ipcRenderer */

    function systemPageLoaded(){

        let boards = Object.values(basic_info['boards']);

        let boards_input = boards.filter(b => b['board_type'] == 0).sort((a, b) => Number(a['board_id']) - Number(b['board_id']));
        let boards_output = boards.filter(b => b['board_type'] == 1).sort((a, b) => Number(a['board_id']) - Number(b['board_id']));
        boards_input.forEach(b => {
            let option = '<option ' + 'value=' + b['board_id'] + '>' + b['board_id'] + ' -- ' + b['description'] + ' -- ' + b['location'] + '</option>';
            $('#select_input_board').append(option)

        });
        boards_output.forEach(b => {
            let option = '<option ' + 'value=' + b['board_id'] + '>' + b['board_id'] + ' -- ' + b['description'] + ' -- ' + b['location'] + '</option>';
            $('#select_output_board').append(option)
        });
        changeInput()
        changeOutput()
        if(basic_info['connected']){
            requestInputOutputStatus();
            setInterval(() => {requestInputOutputStatus()}, 2000);
        }
    }
    function requestInputOutputStatus(){
        let requestData=[
            {'name':'input_states','params':{}},
            {'name':'output_states','params':{}},
        ];
        ipcRenderer.send("sendRequestToServer", "getInputOutputStatusData",{},requestData);
    }
    function changeInput(){
        let board_id=$('#select_input_board').val()
        let board_ios = Object.values(basic_info['board_ios']).filter(b => b['board_id'] == board_id);
        $('#table_inputs tbody').empty();
        board_ios.forEach(b => {
            let html='<tr>' +
                '<td>' + b['in'] + '</td>' +
                '<td>' + b['description'] + '</td>' +
                '<td>' + b['tag'] + '</td>' +
                '<td>' + b['terminal'] + '</td>' +
                '<td><span id="status_input_io_'+b['input_id']+'"  style="background-color: #9e9e9e; width: 12px;height: 12px; display: inline-flex"></span></td>' +
                '</tr>';
            $('#table_inputs tbody').append(html)
        });
    }
    function changeOutput(){
        let board_id=$('#select_output_board').val()
        let board_ios = Object.values(basic_info['board_ios']).filter(b => b['board_id'] == board_id);
        $('#table_outputs tbody').empty();
        board_ios.forEach(b => {
            let html='<tr>' +
                '<td>' + b['in'] + '</td>' +
                '<td>' + b['description'] + '</td>' +
                '<td>' + b['tag'] + '</td>' +
                '<td>' + b['terminal'] + '</td>' +
                '<td><span id="status_output_io_'+b['output_id']+'"  style="background-color: #9e9e9e; width: 12px;height: 12px; display: inline-flex"></span></td>' +
                '<td>'+
                (Number(b['change_allowed'])==1?
                        '<div class="input-group">' +
                        '<input id="input_send_device_command_'+b['output_id']+'" type="text" class="form-control input_send_device_command">' +
                        '<div class="input-group-append">' +
                        '<button data-parameter1="'+b['output_id']+'" class="btn btn-primary btn-sm btn_send_device_command">change</button>' +
                        '</div>' +
                        '</div>':''
                )+
                '</td>' +

                '</tr>';
            $('#table_outputs tbody').append(html)
        });
    }
    $(document).on('change','#select_input_board',function (event){
        changeInput()
        requestInputOutputStatus();
    });
    $(document).on('change','#select_output_board',function (event){
        changeOutput()
        requestInputOutputStatus();
    });

    $(document).on('click','.btn_send_device_command',function (event){
        let parameter1=$(this).attr('data-parameter1')
        let command=$('#input_send_device_command_'+parameter1).val();//not verifying number
        let params={
            'message_id':123,
            'device_id':99,
            'command':command,
            'parameter1':parameter1
        };
        ipcRenderer.send("sendRequestToServer", "forward_ape_message",params,[]);
    })
    ipcRenderer.on("getInputOutputStatusData", function(e, jsonObject) {
        for(let key in jsonObject['data']['input_states']){
            let input_state=jsonObject['data']['input_states'][key];
            $('#status_input_io_'+input_state['input_id']).css('background-color',(input_state['state']==1)?'#4fe21f':'#9e9e9e')
        }
        for(let key in jsonObject['data']['output_states']){
            let output_state=jsonObject['data']['output_states'][key];
            $('#status_output_io_'+output_state['output_id']).css('background-color',(output_state['state']==1)?'#4fe21f':'#9e9e9e')
        }
    })

</script>