<div class="row mt-2">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-12">
                <table class="table table-sm table-bordered" style="table-layout: fixed">
                    <thead>
                    <tr>
                        <th style="width:20%;text-align: center;"></th>
                        <th></th>
                        <th style="width:10%;text-align: center;">Value</th>
                        <th style="width:10%;text-align: center;">Unit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="bg-light-blue">
                        <td>State</td>
                        <td></td>
                        <td data-oee-name="current_state" class="oee-value" style="text-align: right"></td>
                        <td></td>
                    </tr>
                    <tr class="bg-light-blue">
                        <td>Piece Counts</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Packages Inducted</td>
                        <td data-oee-name="packages_inducted" class="oee-value" style="text-align: right"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Successful Divert Packages</td>
                        <td data-oee-name="successful_divert_packages" class="oee-value" style="text-align: right"></td>
                        <td></td>
                    </tr>
                    <tr class="bg-light-blue">
                        <td>Throughput</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Average  Tput</td>
                        <td data-oee-name="average_tput" class="oee-value" style="text-align: right"></td>
                        <td>pcs/h</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Max 3 minutes Tput</td>
                        <td data-oee-name="max_3min_tput" class="oee-value" style="text-align: right"></td>
                        <td>pcs/h</td>
                    </tr>
                    <tr class="bg-light-blue">
                        <td>Operational Time</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Total second since last reset</td>
                        <td data-oee-name="tot_sec_since_reset" class="oee-value" style="text-align: right"></td>
                        <td>s</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Total seconds spend in Estop state</td>
                        <td data-oee-name="tot_sec_estop" class="oee-value" style="text-align: right"></td>
                        <td>s</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Total seconds spend in Fault state</td>
                        <td data-oee-name="tot_sec_fault" class="oee-value" style="text-align: right"></td>
                        <td>s</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Total seconds spend in Blocked state</td>
                        <td data-oee-name="tot_sec_blocked" class="oee-value" style="text-align: right"></td>
                        <td>s</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Total seconds spend in Idle state</td>
                        <td data-oee-name="tot_sec_idle" class="oee-value" style="text-align: right"></td>
                        <td>s</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Total seconds spend in Init state</td>
                        <td data-oee-name="tot_sec_init" class="oee-value" style="text-align: right"></td>
                        <td>s</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Total seconds spend in Running state </td>
                        <td data-oee-name="tot_sec_run" class="oee-value" style="text-align: right"></td>
                        <td>s</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Total seconds the machine was starved</td>
                        <td data-oee-name="tot_sec_starved" class="oee-value" style="text-align: right"></td>
                        <td>s</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Total seconds the machine was held</td>
                        <td data-oee-name="tot_sec_held" class="oee-value" style="text-align: right"></td>
                        <td>s</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Total seconds the machine was able to operate productively</td>
                        <td data-oee-name="tot_sec_unconstrained" class="oee-value" style="text-align: right"></td>
                        <td>s</td>
                    </tr>
                    <tr class="bg-light-blue">
                        <td>Availability</td>
                        <td></td>
                        <td data-oee-name="cal_availability" class="oee-value" style="text-align: right"></td>
                        <td></td>
                    </tr>
                    <tr class="bg-light-blue">
                        <td>Quality</td>
                        <td></td>
                        <td data-oee-name="cal_quality" class="oee-value" style="text-align: right"></td>
                        <td></td>
                    </tr>
                    <tr class="bg-light-blue">
                        <td>Performance</td>
                        <td></td>
                        <td data-oee-name="cal_performance" class="oee-value" style="text-align: right"></td>
                        <td></td>
                    </tr>
                    <tr class="bg-light-blue">
                        <td>OEE</td>
                        <td></td>
                        <td data-oee-name="cal_oee" class="oee-value" style="text-align: right"></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<footer id="footer" class="container-fluid">
    <%- include('../components/statistics_footer') %>
</footer>
<style>
    .bg-light-blue{
        background-color:#bfdbfe;
    }
</style>
<script>
    /* global basic_info */
    /* global ipcRenderer */
    let oee_states={0:'Estop',1:'Faulted',2:'Blocked',3:'Idle',4:'Init',5:'Running'}
    function systemPageLoaded(){
        if(basic_info['connected']){
            requestPageData();
            setInterval(() => {requestPageData()}, 2000);
        }
    }
    function requestPageData(){
        let requestData=[
            {'name':'statistics_oee','params':{'per_page':1}},
        ];
        ipcRenderer.send("sendRequestToServer", "getStatisticsOeeData",{},requestData);
    }
    ipcRenderer.on("getStatisticsOeeData", function(e, jsonObject) {
        if(jsonObject['data']['statistics_oee']['records'].length>0){
            let oeeInfo=jsonObject['data']['statistics_oee']['records'][0];
            oeeInfo['current_state']=oee_states[oeeInfo['current_state']]
            oeeInfo['cal_availability']= (+oeeInfo['tot_sec_blocked']) + (+oeeInfo['tot_sec_estop']) + (+oeeInfo['tot_sec_fault']) + (+oeeInfo['tot_sec_run'])
            oeeInfo['cal_availability']= (+oeeInfo['cal_availability'])>0? ((+oeeInfo['tot_sec_run'])/oeeInfo['cal_availability']).toFixed(2):'0';
            oeeInfo['cal_quality']= (+oeeInfo['packages_inducted'])>0?((+oeeInfo['successful_divert_packages'])/(+oeeInfo['packages_inducted'])).toFixed(2):'0';
            oeeInfo['cal_performance']= (+oeeInfo['tot_sec_run'])>0?((+oeeInfo['packages_inducted']) * (+oeeInfo['max_3min_tput'])/(+oeeInfo['tot_sec_run'])).toFixed(2):'0';
            oeeInfo['cal_oee']= ((+oeeInfo['cal_availability']) * (+oeeInfo['cal_quality']) * (+oeeInfo['cal_performance'])).toFixed(2)
            $('.oee-value').each((index, elem) => {
                let oee_name=$(elem).attr('data-oee-name');
                if(oeeInfo[oee_name]!=undefined){
                    $(elem).text(oeeInfo[oee_name])
                }
                else {
                    console.log(oee_name)
                }
            })
        }

    })

</script>