<div class="row">
    <div class="col-lg-12" >
        <h2 class="d-inline-block">Token</h2>
        <img id="system_loading" style="display: none;" src="theme/images/loading.gif" alt="Loading">
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <div class="alert alert-warning alert-dismissible fade show" id="alert_message_container" role="alert" style="display: none;">
            <p class="mb-0" id="alert_message"></p>
            <button type="button" class="close alert-close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-3"><h5>From</h5></div>
    <div class="col-md-3"><h5>To</h5></div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-6 pr-0">
                <input type="text" class="form-control" id="from_date" placeholder="From date">
            </div>
            <div class="col-md-3 pl-1 pr-0">
                <select class="form-control" id="from_date_hour"></select>
            </div>
            <div class="col-md-3 pl-1 pr-0">
                <select class="form-control" id="from_date_minute"></select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-6 pr-0">
                <input type="text" class="form-control" id="to_date" placeholder="To date">
            </div>
            <div class="col-md-3 pl-1 pr-0">
                <select class="form-control" id="to_date_hour"></select>
            </div>
            <div class="col-md-3 pl-1 pr-0">
                <select class="form-control" id="to_date_minute"></select>
            </div>
        </div>
    </div>
    <div class="col-md-1 pr-0">
        <select class="form-control" id="filter_sorting_code">
            <option value="-1">Sorting code...</option>
        </select>
    </div>
    <div class="col-md-4 pr-0">
        <div class="row">
            <label class="col-md-2 col-form-label pr-0" for="per_page">No of rows</label>
            <div class="col-md-2 pl-1 pr-0">
                <select class="form-control" id="per_page">
                    <option value="5">5</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                    <option value="5000">5000</option>
                    <option value="0">All</option>
                </select>
            </div>
            <div class="col-md-4 pr-0">
                <input type="text" class="form-control" id="text_search_barcode" placeholder="Search Barcode"/>
            </div>
            <div class="col-md-2 pr-0">
                <button type="button" class="btn btn-primary form-control" id="button_filter">Filter</button>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <table class="table table-sm table-bordered" id="table_datatable">
                <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>PLC Id</th>
                    <th>Length</th>
                    <th>Barcode1</th>
                    <th>SortedCode</th>
                    <th>Destination</th>
                    <th>FinalDestination</th>
                </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                <tr>
                    <th>Timestamp</th>
                    <th>PLC Id</th>
                    <th>Length</th>
                    <th>Barcode1</th>
                    <th>SortedCode</th>
                    <th>Destination</th>
                    <th>FinalDestination</th>
                </tr>
                </tfoot>
            </table>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12" id="pagination_container">
    </div>
</div>

<script>
    /* global basic_info */
    /* global ipcRenderer */
    /* global getPaginationHtml */
    let binsBySortManger={}
    let current_page=1;
    let dataTable= $('#table_datatable').DataTable({
        //dom: 'Bifrtp',
        dom: '<Bif>rtp',
        paging: false,
        searching: false,
        buttons: [
            {
                extend: 'csv',
                fieldSeparator: ";",
                text: 'Export'
            }],
        // order:[[3,'asc']],
        order:[],//no ordering default was first column
        scrollY: 400,
        "columns": [
            {},
            {className: "text-right"},
            {},
            {},
            {},
            {},
            {},
        ],

    });
    function systemPageLoaded(){
        for (let i = 0; i < 24; i++) {
            let option= '<option value="' +(i<10?'0':'')+ i + '">' + (i<10?'0':'')+i+ '</option>';
            $("#from_date_hour").append(option);
            $("#to_date_hour").append(option);
        }
        for (let i = 0; i < 60; i++) {
            let option= '<option value="' +(i<10?'0':'')+ i + '">' + (i<10?'0':'')+i+ '</option>';
            $("#from_date_minute").append(option);
            $("#to_date_minute").append(option);
        }
        $("#from_date").datepicker({
            autoclose: true,
            format: 'mm-dd-yyyy',
            orientation: "bottom right"
        });
        $("#to_date").datepicker({
            autoclose: true,
            format: 'mm-dd-yyyy',
            orientation: "bottom right",
        });
        for(let key in basic_info['bins']){
            let bin=basic_info['bins'][key];
            binsBySortManger[bin['sort_manager_id']]=bin;
        }

        for (let key in basic_info['scs']) {
            let sc = basic_info['scs'][key];
            $("#filter_sorting_code").append('<option value="' + sc.value + '">' + sc.label + '</option>');
        }
        if(basic_info['connected']){
            let requestData=[
                {'name':'statistics_counter','params':{'per_page':1}},
            ];
            ipcRenderer.send("sendRequestToServer", "getStatisticsCounterLast",{},requestData);//send request now
        }
    }
    ipcRenderer.on("getStatisticsCounterLast", function(e, jsonObject) {
        if(jsonObject['data']['statistics_counter']['records'].length>0){
            let startDate=moment(jsonObject['data']['statistics_counter']['records'][0]['created_at_timestamp']*1000);
            $('#from_date_hour').val((startDate.hour()<10?"0":"")+startDate.hour())
            $('#from_date_minute').val((startDate.minute()<10?"0":"")+startDate.minute())
            $('#from_date').datepicker('update', startDate.format('MM-DD-YYYY'));
            current_page=1;
            $('#button_filter').trigger('click')
        }
        else{
            let error_message = "<b>Please Contact with admin. No Schedule found</b>";
            $("#alert_message").html(error_message);
            $("#alert_message_container").show();
        }
    })
    ipcRenderer.on("getProductsHistory", function(e, jsonObject) {
        $('#system_loading').hide()
        for(let key in jsonObject['data']['products_history']['records']){
            let record=jsonObject['data']['products_history']['records'][key]
            dataTable.row.add([
                moment.unix(record['created_at_timestamp']).format("MMM D Y, H:mm:ss"),
                record['mail_id'],
                record['length'],
                record['barcode1_string'],
                basic_info['scs'][record['reason']]?basic_info['scs'][record['reason']]['label']:'-',
                binsBySortManger[record['destination']]?binsBySortManger[record['destination']]['bin_label']:'-',
                binsBySortManger[record['destination_final']]?binsBySortManger[record['destination_final']]['bin_label']:'-',
            ]);
        }
        dataTable.draw();
        let params=jsonObject['data']['products_history']['params'];
        let totalRecords=jsonObject['data']['products_history']['totalRecords'];
        $('#pagination_container').html(getPaginationHtml(totalRecords,params['per_page'],params['page']))

        $('#table_datatable_info').html('Showing '+((params['page']-1) * params['per_page']+1)+' to '+((params['page']* params['per_page'])>totalRecords?totalRecords:(params['page']* params['per_page']))+' of '+totalRecords+' entries');

    })
    $(document).on('change','#per_page',function (event){
        current_page=1;
        filterProduct();
    })
    $(document).on('click','#button_filter',function (event){
        current_page=1;
        filterProduct();
    })
    $(document).on('click','#pagination_container .page-item:not(".disabled")',function (event){
        let page=$(this).attr('data-page')
        if(page=='-' && current_page>1){
            current_page--;
        }
        else if(page=='+'){
            current_page++;
        }
        else
        {
            current_page=page;
        }
        filterProduct();
    })
    function filterProduct(){
        $("#alert_message_container").hide();
        let from_timestamp = moment($('#from_date').val()+" "+$("#from_date_hour").val()+":"+$("#from_date_minute").val(), "MM-DD-YYYY HH:mm").unix();
        let to_timestamp = moment($('#to_date').val()+" "+$("#to_date_hour").val()+":"+$("#to_date_minute").val(), "MM-DD-YYYY HH:mm").unix();
        let requestData = [
            {
                'name': 'products_history',
                'params': {
                    'reason': $('#filter_sorting_code').val(),
                    'per_page': $('#per_page').val(),
                    'search_barcode': $('#text_search_barcode').val(),
                    "page": current_page
                }
            },
        ];
        let error_message='';
        if(Number.isInteger(from_timestamp)){
            requestData[0]['params']['from_timestamp']=from_timestamp;
            if($('#from_date').val()==''){
                error_message+="No From Date Selected.";
            }
        }
        else{
            error_message+="Invalid From Date";
        }
        if(Number.isInteger(to_timestamp)){
            requestData[0]['params']['to_timestamp']=to_timestamp;
            if($('#to_date').val()==''){
                error_message+="No To Date Selected.";
            }
        }
        if(error_message==''){
            if(basic_info['connected']) {
                $('#system_loading').show()
                dataTable.clear().search('').draw();
                ipcRenderer.send("sendRequestToServer", "getProductsHistory", {}, requestData);
            }
            else{
                $("#alert_message").html("<b>Server Not connected</b>");
                $("#alert_message_container").show();
            }
        }
        else{
            $("#alert_message").html(error_message);
            $("#alert_message_container").show();
        }
    }
</script>