<div id="container_production" style="height:131px;">
    <div class="row">
        <div class="col-5">
            <table class="table table-sm table-bordered" id="table_production"><tbody></tbody></table>
        </div>
        <div class="col-4">
            <table class="table table-sm table-bordered" id="table_scanner"><tbody></tbody></table>
        </div>
        <div class="col-3">
            <table class="table table-sm table-bordered" id="table_oee"><tbody></tbody></table>
        </div>
    </div>
</div>