<button class="btn btn-outline-primary menu mr-1" data-title="General View" data-file="general" data-name="general_conveyors" data-members="general general_conveyors">Conveyors</button>
<button class="btn btn-outline-primary menu mr-1" data-title="Devices" data-file="general_devices" data-name="general_devices" data-members="general general_devices">Devices</button>
<button class="btn btn-outline-primary menu mr-1" data-title="Motors" data-file="general_motors" data-name="general_motors" data-members="general general_motors">Motor</button>
